<!DOCTYPE html>
<html lang="en">
<head>
  <title>Asesorías UL - Historial</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profesor/index.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/0/0e/ULIMA_logo.png">
  <script src="{{ url_for('static', filename='js/profesor/index.js') }}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/chat/jquery-ui.css') }}" type="text/css" media="screen" />
  <link type="text/css" href="{{ url_for('static', filename='css/chat/jquery.ui.chatbox.css') }}" rel="stylesheet" />
  <script type="text/javascript" src="{{ url_for('static', filename='js/chat/jquery-1.4.2.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/chat/jquery-ui.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/chat/jquery.ui.chatbox.js') }}"></script>
  <script src="https://www.gstatic.com/firebasejs/5.5.4/firebase.js"></script>
	<script>
	  // Initialize Firebase
	  var config = {
	    apiKey: "AIzaSyARVPJ_1sfCGCAQcmeWqZaG_nkNMMp845k",
	    authDomain: "crashsoft-e0a3e.firebaseapp.com",
	    databaseURL: "https://crashsoft-e0a3e.firebaseio.com",
	    projectId: "crashsoft-e0a3e",
	    storageBucket: "crashsoft-e0a3e.appspot.com",
	    messagingSenderId: "305605246942"
	  };
	  firebase.initializeApp(config);
  </script>
</head>
<body>
	
<img class="logout" onclick="cerrarSesion()" src="http://www.clker.com/cliparts/Z/l/p/o/z/T/power-button-outline-md.png" height="30" width="30">
	
<div class="container">

  <ul class="nav nav-tabs">
    <li><a data-toggle="tab" onclick="displayProximasAsesorias()">Próximas Asesorías</a></li>
    <li class="active"><a data-toggle="tab" onclick="displayHistorial()">Historial</a></li>
    <li><a data-toggle="tab" onclick="displaySeminarios()">Seminarios</a></li>
  </ul>

  <div class="tab-content">
    <div id="historial" class="tab-pane fade in active">
      <div class="cabecera">
        <div>
          <div class="img">
            <img src="{{asesoria.profesor.foto}}" height="100" width="100">
          </div>
          <div class="detalles">
            <label><strong>{{asesoria.profesor.nombre}}</strong></label><br/>
            <label>Cursos:</label>
            {% for seccion in asesoria.profesor.secciones %}
              <p>{{seccion.curso.nombre}}</p>
            {% endfor %}
          </div>
        </div>
      </div>
<form action="/" method="post" name="formHistorial">
      <input type="hidden" id="taskSeminario" name="taskSeminario" value="add">
      <input type="hidden" id="asesoria" name="asesoria" value="{{asesoria.idAsesoria}}">
      <table id="detalle">
        <tr class="header">
          <th style="width:40%;">Tema Tratado</th>
          <th style="width:40%;">Conclusión</th>
	  <th style="width:20%;"></th>
        </tr>
        {% for registro in asesoria.registros %}
	      <input type="hidden" id="idSeminario" name="idSeminario" value="{{registro.idRegistro}}">
		  <tr onclick="">
		    <td>{{registro.temaTratado }}</td>
		    <td>{{registro.conclusion}}</td>
		    <td>
			    <img onclick="submitHistorial()" class="edit" src="https://cdn3.iconfinder.com/data/icons/black-easy/512/538375-pen_512x512.png" height="50" width="50">
			    <img onclick="submitHistorial()" class="delete" src="https://techflourish.com/images/cross-with-sunset-clipart-16.png" height="50" width="50">
		    </td>
		  </tr>
        {% endfor %}
      </table>
</form>
      <div>
        <img onclick="addLine()" id="add" src="https://png.pngtree.com/svg/20170919/plus_3__840571.png" height="50" width="50">
      </div>
    </div>
  </div>
</div>

<div id="user_list">
			<div id="user_list_header">
				<span>Lista de Usuarios</span>
				<a href="#" class="ui-corner-all ui-chatbox-icon" role="button"><span class="ui-icon ui-icon-minusthick">minimize</span></a></div>
			<div id="user_list_content">
				<ul>
				</ul>
			</div>
</div>

<script type="text/javascript">
	sessionStorage.setItem('user', "{{usuario}}");
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/chat/chat.js') }}"></script>

</body>
</html>
