<!DOCTYPE html>
<html lang="en">
<head>
	<title>Asesorías UL - Próximas Asesorías</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profesor/index.css') }}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/0/0e/ULIMA_logo.png">
	<script src="{{ url_for('static', filename='js/profesor/index.js') }}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/chat/jquery-ui.css') }}" type="text/css" media="screen"/>
	<link type="text/css" href="{{ url_for('static', filename='css/chat/jquery.ui.chatbox.css') }}" rel="stylesheet"/>
	<script type="text/javascript" src="{{ url_for('static', filename='js/chat/jquery-1.4.2.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/chat/jquery-ui.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/chat/jquery.ui.chatbox.js') }}"></script>
	<script src="https://www.gstatic.com/firebasejs/5.5.4/firebase.js"></script>
	<script>
	  // Initialize Firebase
	  var config = {
	    apiKey: "AIzaSyARVPJ_1sfCGCAQcmeWqZaG_nkNMMp845k",
	    authDomain: "crashsoft-e0a3e.firebaseapp.com",
	    databaseURL: "https://crashsoft-e0a3e.firebaseio.com",
	    projectId: "crashsoft-e0a3e",
	    storageBucket: "crashsoft-e0a3e.appspot.com",
	    messagingSenderId: "305605246942"
	  };
	  firebase.initializeApp(config);
	</script>
</head>
<body>

<img class="logout" onclick="cerrarSesion()" src="http://www.clker.com/cliparts/Z/l/p/o/z/T/power-button-outline-md.png" height="30" width="30">
	
<div class="container">

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" onclick="displayProximasAsesorias()">Próximas Asesorías</a></li>
    <li><a data-toggle="tab" onclick="displayHistorial()">Historial</a></li>
    <li><a data-toggle="tab" onclick="displaySeminarios()">Seminarios</a></li>
  </ul>

  <div class="tab-content">
    <div id="asesorias" class="tab-pane fade in active">
      <div class="cabecera">
        <div>
          <div class="img">
            <img src="https://www.shareicon.net/download/2017/01/06/868320_people_512x512.png" height="100" width="100">
          </div>
          <div class="detalles">
            <label><strong>{{profesor.nombre}}</strong></label><br/>
            <label>Cursos:</label>
            {% for seccion in profesor.seccions %}
              <p>{{seccion.curso.nombre}}</p>
            {% endfor %}
          </div>
        </div>
      </div>
      <table id="detalle">
        <tr class="header">
          <th style="width:25%;">Fecha</th>
          <th style="width:25%;">Hora</th>
          <th style="width:25%;">Lugar</th>
          <th style="width:25%;">Disponibilidad</th>
        </tr>
        {% for asesoria in profesor.asesorias %}
	      {% if fecha < asesoria.fecha %}
		  <tr onclick="">
		    <td>
			<a href="{{ url_for('detalleAsesoriasProfesor', id=asesoria.idAsesoria) }}">{{asesoria.fecha}}</a>
	            </td>
		    <td>{{asesoria.hora}}</td>
		    <td>{{asesoria.lugar}}</td>
		    <td>{{asesoria.disponibilidad}}</td>
		  </tr>
	      {% endif %}
        {% endfor %}
      </table>
      
    </div>
    <div id="historial" class="tab-pane fade">
    </div>
    <div id="seminarios" class="tab-pane fade">
    </div>
  </div>
</div>

<div id="user_list">
    <div id="user_list_header">
        <span>Lista de Usuarios</span>
        <a href="#" class="ui-corner-all ui-chatbox-icon" role="button"><span class="ui-icon ui-icon-minusthick">minimize</span></a>
    </div>
    <div id="user_list_content">
        <ul>
        </ul>
    </div>
</div>
	
<script type="text/javascript">
	sessionStorage.setItem('user', "{{usuario}}");
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/chat/chat.js') }}"></script>

</body>
</html>
