.logo{
    margin-top: 10%;
    width: 20%;
}
.imgcontainer{
    margin: auto;
    text-align: center;
}
#table{
  width: 70%;
  display: block;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  margin-top: 7%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
table{
  text-align:center;
}
td{
  vertical-align: center;
}
body{
  background-color: #fc8005;
}
