<!DOCTYPE html>
<html lang="en">
<head>
	<title>Asesorías UL - Asesorías</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/0/0e/ULIMA_logo.png">
	<script src="{{ url_for('static', filename='js/index.js') }}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}" type="text/css" media="screen"/>
	<link type="text/css" href="{{ url_for('static', filename='css/jquery.ui.chatbox.css') }}" rel="stylesheet"/>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.4.2.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.ui.chatbox.js') }}"></script>
	<script src="https://www.gstatic.com/firebasejs/5.5.4/firebase.js"></script>
	<script>
	  // Initialize Firebase
	  var config = {
	    apiKey: "AIzaSyARVPJ_1sfCGCAQcmeWqZaG_nkNMMp845k",
	    authDomain: "crashsoft-e0a3e.firebaseapp.com",
	    databaseURL: "https://crashsoft-e0a3e.firebaseio.com",
	    projectId: "crashsoft-e0a3e",
	    storageBucket: "crashsoft-e0a3e.appspot.com",
	    messagingSenderId: "305605246942"
	  };
	  firebase.initializeApp(config);
	</script>
</head>
<body>

<img class="logout" onclick="cerrarSesion()" src="http://www.clker.com/cliparts/Z/l/p/o/z/T/power-button-outline-md.png" height="30" width="30">
	
<div class="container">

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" onclick="displayAsesorias()">Asesorías</a></li>
    <li><a data-toggle="tab" onclick="displayHistorial()">Historial</a></li>
    <li><a data-toggle="tab" onclick="displayMisCitas()">Mis Citas</a></li>
    <li><a data-toggle="tab" onclick="displaySeminarios()">Seminarios</a></li>
    <li><a data-toggle="tab" onclick="displayMisSeminarios()">Mis Seminarios</a></li>
  </ul>

  <div class="tab-content">
    <div id="asesorias" class="tab-pane fade in active">
      <input type="text" id="prof" class="input" placeholder="Buscar por profesor">
      <input type="text" id="curso" class="input" placeholder="Buscar por curso">
      <span style="margin: 1%;">
        <select id="carrera">
          <option value="" selected>-Todos-</option>
          <option value="Administración">Administración</option>
          <option value="Arquitectura">Arquitectura</option>
          <option value="Comunicación">Comunicación</option>
          <option value="Contabilidad">Contabilidad</option>
          <option value="Economía">Economía</option>
          <option value="Ingeniería Civil">Ingeniería Civil</option>
          <option value="Ingeniería de Sistemas">Ingeniería de Sistemas</option>
          <option value="Ingeniería Industrial">Ingeniería Industrial</option>
          <option value="Marketing">Marketing</option>
          <option value="Negocios Internacionales">Negocios Internacionales</option>
          <option value="Psicología">Psicología</option>
          <option value="Programa de Estudios Generales">Programa de Estudios Generales</option>
        </select>
      </span>
      <button onclick="buscar()">Buscar</button>

      <table id="myTable">
        <tr class="header">
          <th style="width:20%;">Profesor</th>
          <th style="width:20%;">Carrera</th>
          <th style="width:40%;">Cursos</th>
          <th style="width:20%;">Secciones</th>
        </tr>
        {% for profesor in profesores %}
          <tr>
            <td><a href="{{url_for('profesor', id=profesor.idProfesor) }}">{{profesor.nombre}}</a></td>
            <td>{{profesor.carrera}}</td>
            <td>
              {% for seccion in profesor.seccions %}
                <p>{{seccion.curso.nombre}}</p>
              {% endfor %}
            </td>
            <td>
              {% for seccion in profesor.seccions %}
                <p>{{seccion.numeroSeccion}}</p>
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
    <div id="historial" class="tab-pane fade">
    </div>
    <div id="miscitas" class="tab-pane fade">
    </div>
    <div id="seminarios" class="tab-pane fade">
    </div>
    <div id="misSeminarios" class="tab-pane fade">
    </div>
  </div>
</div>

<div id="user_list">
    <div id="user_list_header">
        <span>Lista de Usuarios</span>
        <a href="#" class="ui-corner-all ui-chatbox-icon" role="button"><span class="ui-icon ui-icon-minusthick">minimize</span></a>
    </div>
    <div id="user_list_content">
        <ul>
        </ul>
    </div>
</div>

<script type="text/javascript">
	$('#user_list_header').click(function(){
		$('#user_list').toggleClass('collapsed');
	});
	
	var chats = [];
	var index = 0;
	div_user_list = $('#user_list_content ul');
	
	var usuarios = [];
	var usuario = [];
	var div;
	var currentTime = Date.now()
	
	firebase.database().ref().child("Usuarios").child("Alumnos").on('value', function(snapshot) {
	    snapshot.forEach(function(child) {
		var user = {}
		user.id = child.val().id;
		user.user = child.val().user;
		user.nombre = String(child.val().nombre);
		 
		if(user.user != "{{ usuario }}"){
		   usuarios.push(user);
		   div_user_list.append( "<li style='list-style: none;' class = 'user_item' onClick = " + String.fromCharCode(34) + "openChatBox(" + index + ")" + String.fromCharCode(34) + ">" + user.nombre + "<span>" + user.id + "</span> </li>");
	    	
		   $('.user_item').click(function(){
		   });

		   index++;
		} else{
		   usuario.push(user);
		}
	    });
	});
	
	firebase.database().ref().child("Usuarios").child("Profesores").on('value', function(snapshot) {
	    snapshot.forEach(function(child) {
		var user = {}
		user.id = child.val().id;
		user.user = child.val().user;
		user.nombre = String(child.val().nombre);
		
		if(user.user != "{{ usuario }}"){
		   usuarios.push(user);
		   div_user_list.append( "<li style='list-style: none;' class = 'user_item' onClick = " + String.fromCharCode(34) + "openChatBox(" + index + ")" + String.fromCharCode(34) + ">" + user.nombre + "<span>" + user.id + "</span> </li>");
	    	
		   $('.user_item').click(function(){
		   });

		   index++;
		} else{
		   usuario.push(user);
		}
	    });
	});
	
	function buscarUsuario(user){
		var us;
		for(i = 0; i < usuarios.length; i++){
			if(usuarios[i].user == user){
				us = usuarios[i];
				us.index = i;
				break;
			}
		}
		return us;
	}
	
	function onChildAdded(user){
		usuario = buscarUsuario(user);
		openChatBox(usuario.index);
	}
	
	firebase.database().ref().child("user-messages").child("{{usuario}}").on('child_added', function(snapshot) {
			firebase.database().ref().child("Mensajes").child(snapshot.key).on('value', function(childsnapshot) {
				var id;
				if(snapshot.val() == "1"){
					id = usuario[0].nombre.split(" ")[0];
					user = buscarUsuario(childsnapshot.val().to);
				} else if(snapshot.val() == "2"){
					user = buscarUsuario(childsnapshot.val().from);
					id = user.nombre.split(" ")[0];
				}
				onChildAdded(user.user);
			});

		});

	function openChatBox(index){
		let chat = $("#" + usuarios[index].user);
		var div;
		if (chat.length){
			if (chat.parent().parent().children()[1].style.display == "none"){
				chat.parent().parent().children()[1].style.display = "block";
			}
		} else {
			div = $("<div id = '" + usuarios[index].user + "'> </div>");
			$(div).chatbox({id: usuario[0].nombre.split(" ")[0],
					title : usuarios[index].nombre,
					user: usuarios[index],
					offset: 230 + 240*$('.ui-chatbox').length,
					width: 230,
					messageSent : function(id, user, msg) {
						var ref = firebase.database().ref("Mensajes");
						var ref_storage = firebase.database().ref("user-messages");
						var message = {
							"from": usuario[0].user,
							"to": user.user,
							"message": msg,
							"timestamp": Date.now()
						}
						var newRef = ref.push();
						var val = newRef.key;
						var data = {};
						data[val] = "1";
						ref_storage.child(usuario[0].user).update(data)
						data[val] = "2";
						ref_storage.child(user.user).update(data)
						newRef.set(message);
						
					}});
		}

		firebase.database().ref().child("user-messages").child("{{usuario}}").on('child_added', function(snapshot) {
			firebase.database().ref().child("Mensajes").child(snapshot.key).on('value', function(childsnapshot) {
				var id;
				if(snapshot.val() == "1"){
					id = usuario[0].nombre.split(" ")[0];
					user = buscarUsuario(childsnapshot.val().to);
				} else if(snapshot.val() == "2"){
					user = buscarUsuario(childsnapshot.val().from);
					id = user.nombre.split(" ")[0];
				}

				if (user.user == usuarios[index].user){
					if(chat.length){
						chat.chatbox("option", "boxManager").addMsg(id, childsnapshot.val().message);
					} else{
						div.chatbox("option", "boxManager").addMsg(id, childsnapshot.val().message);
					}
				} else {
					onChildAdded(user.user);
				}
			});

		});
						
	}
</script>

</body>
</html>
