<!DOCTYPE html>
<html lang="en">
<head>
  <title>Asesorías UL - Mis Citas</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/0/0e/ULIMA_logo.png">
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}" type="text/css" media="screen" />
  <link type="text/css" href="{{ url_for('static', filename='css/jquery.ui.chatbox.css') }}" rel="stylesheet" />
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.4.2.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.ui.chatbox.js') }}"></script>
  <script src="https://www.gstatic.com/firebasejs/5.5.4/firebase.js"></script>
  <script>
	// Initialize Firebase
	var config = {
	  apiKey: "AIzaSyARVPJ_1sfCGCAQcmeWqZaG_nkNMMp845k",
          authDomain: "crashsoft-e0a3e.firebaseapp.com",
          databaseURL: "https://crashsoft-e0a3e.firebaseio.com",
	  projectId: "crashsoft-e0a3e",
	  storageBucket: "crashsoft-e0a3e.appspot.com",
	  messagingSenderId: "305605246942"
	};
	firebase.initializeApp(config);
  </script>
</head>
<body>
	
<img class="logout" onclick="cerrarSesion()" src="http://www.clker.com/cliparts/Z/l/p/o/z/T/power-button-outline-md.png" height="30" width="30">
	
<div class="container">

  <ul class="nav nav-tabs">
    <li><a data-toggle="tab" onclick="displayAsesorias()">Asesorías</a></li>
    <li><a data-toggle="tab" onclick="displayHistorial()">Historial</a></li>
    <li class="active"><a data-toggle="tab" onclick="displayMisCitas()">Mis Citas</a></li>
    <li><a data-toggle="tab" onclick="displaySeminarios()">Seminarios</a></li>
    <li><a data-toggle="tab" onclick="displayMisSeminarios()">Mis Seminarios</a></li>
  </ul>

  <div class="tab-content">
    <div id="asesorias" class="tab-pane fade">
    </div>
    <div id="historial" class="tab-pane fade">
    </div>
    <div id="miscitas" class="tab-pane fade in active">
      <input type="text" id="prof" class="input2" placeholder="Buscar por profesor">
      <input type="text" id="fecha" class="input2" placeholder="Buscar por fecha">
      <input type="text" id="consulta" class="input2" placeholder="Buscar por consulta">
      <span style="margin: 1%;">
        <select id="carrera">
          <option value="" selected>-Todos-</option>
          <option value="Administración">Administración</option>
          <option value="Arquitectura">Arquitectura</option>
          <option value="Comunicación">Comunicación</option>
          <option value="Contabilidad">Contabilidad</option>
          <option value="Economía">Economía</option>
          <option value="Ingeniería Civil">Ingeniería Civil</option>
          <option value="Ingeniería de Sistemas">Ingeniería de Sistemas</option>
          <option value="Ingeniería Industrial">Ingeniería Industrial</option>
          <option value="Marketing">Marketing</option>
          <option value="Negocios Internacionales">Negocios Internacionales</option>
          <option value="Psicología">Psicología</option>
          <option value="Programa de Estudios Generales">Programa de Estudios Generales</option>
        </select>
      </span>
      <button onclick="buscarCitas()">Buscar</button>

      <table id="detalle">
        <tr class="header">
          <th style="width:14%;">Profesor</th>
          <th style="width:14%;">Carrera</th>
          <th style="width:12%;">Fecha</th>
          <th style="width:12%;">Hora</th>
          <th style="width:14%;">Lugar</th>
          <th style="width:24%;">Consulta</th>
          <th style="width:10%;"></th>
        </tr>
        {% for cita in citas %}
          <tr>
            <td>{{cita.asesoria.profesor.nombre}}</td>
            <td>{{cita.asesoria.profesor.carrera}}</td>
            <td>{{cita.asesoria.fecha}}</td>
            <td>{{cita.asesoria.hora}}</td>
            <td>{{cita.asesoria.lugar}}</td>
            <td>{{cita.pregunta}}</td>
	    <td><img onclick="cancelarCita({{cita.idCita}})" src="https://i.pinimg.com/originals/05/ba/8c/05ba8c8291f2e8dd9a46d27d546abe6e.png" height="25" width="25"></td>
          </tr>
        {% endfor %}
      </table>
    </div>
    <div id="seminarios" class="tab-pane fade">
    </div>
    <div id="misSeminarios" class="tab-pane fade">
    </div>
  </div>
</div>

<div id="user_list">
			<div id="user_list_header">
				<span>Lista de Usuarios</span>
				<a href="#" class="ui-corner-all ui-chatbox-icon" role="button"><span class="ui-icon ui-icon-minusthick">minimize</span></a></div>
			<div id="user_list_content">
				<ul>
				</ul>
			</div>
</div>
<script type="text/javascript">
	sessionStorage.setItem('user', String({{usuario}}));
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/chat.js') }}"></script>

</body>
</html>
