<!DOCTYPE html>
<html lang="en">
<head>
  <title>Asesorías UL - Mis Seminarios</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/0/0e/ULIMA_logo.png">
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}" type="text/css" media="screen"/>
  <link type="text/css" href="{{ url_for('static', filename='css/jquery.ui.chatbox.css') }}" rel="stylesheet"/>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.4.2.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.ui.chatbox.js') }}"></script>
</head>
<body>

<img class="logout" onclick="cerrarSesion()" src="http://www.clker.com/cliparts/Z/l/p/o/z/T/power-button-outline-md.png" height="30" width="30">
	
<div class="container">

  <ul class="nav nav-tabs">
    <li><a data-toggle="tab" onclick="displayAsesorias()">Asesorías</a></li>
    <li><a data-toggle="tab" onclick="displayHistorial()">Historial</a></li>
    <li><a data-toggle="tab" onclick="displayMisCitas()">Mis Citas</a></li>
    <li class="active"><a data-toggle="tab" onclick="displaySeminarios()">Seminarios</a></li>
    <li><a data-toggle="tab" onclick="displayMisSeminarios()">Mis Seminarios</a></li>
  </ul>

  <div class="tab-content">
    <div id="asesorias" class="tab-pane fade">
    </div>
    <div id="historial" class="tab-pane fade">
    </div>
    <div id="miscitas" class="tab-pane fade">
    </div>
    <div id="seminarios" class="tab-pane fade in active">
      <input type="text" id="prof" class="input" placeholder="Buscar por profesor">
      <input type="text" id="topic" class="input" placeholder="Buscar por topic">
      <span style="margin: 1%;">
        <select id="carrera">
          <option value="" selected>-Todos-</option>
          <option value="Administración">Administración</option>
          <option value="Arquitectura">Arquitectura</option>
          <option value="Comunicación">Comunicación</option>
          <option value="Contabilidad">Contabilidad</option>
          <option value="Economía">Economía</option>
          <option value="Ingeniería Civil">Ingeniería Civil</option>
          <option value="Ingeniería de Sistemas">Ingeniería de Sistemas</option>
          <option value="Ingeniería Industrial">Ingeniería Industrial</option>
          <option value="Marketing">Marketing</option>
          <option value="Negocios Internacionales">Negocios Internacionales</option>
          <option value="Psicología">Psicología</option>
          <option value="Programa de Estudios Generales">Programa de Estudios Generales</option>
        </select>
      </span>
      <button onclick="buscarSeminario()">Buscar</button>

      <table id="myTable">
        <tr class="header">
          <th style="width:15%;">Profesor</th>
          <th style="width:20%;">Carrera</th>
          <th style="width:20%;">Topic</th>
          <th style="width:15%;">Fecha</th>
          <th style="width:10%;">Hora</th>
          <th style="width:15%;">Lugar</th>
          <th style="width:10%;"></th>
        </tr>
        {% for registro in registros %}
          <tr>
            <td>{{registro.seminario.profesor.nombre}}</td>
            <td>{{registro.seminario.profesor.carrera}}</td>
            <td>{{registro.seminario.topic}}</td>
            <td>{{registro.seminario.fecha}}</td>
            <td>{{registro.seminario.hora}}</td>
            <td>{{registro.seminario.lugar}}</td>
            <td><img onclick="cancelarSeminario({{registro.id}})" src="https://i.pinimg.com/originals/05/ba/8c/05ba8c8291f2e8dd9a46d27d546abe6e.png" height="25" width="25"></td>
          </tr>
        {% endfor %}
      </table>
    </div>
    <div id="misSeminarios" class="tab-pane fade">
    </div>
  </div>
</div>

<div id="user_list">
    <div id="user_list_header">
        <span>Lista de Usuarios</span>
        <a href="#" class="ui-corner-all ui-chatbox-icon" role="button"><span class="ui-icon ui-icon-minusthick">minimize</span></a>
    </div>
    <div id="user_list_content">
        <ul>
        </ul>
    </div>
</div>

<script type="text/javascript">
		$('#user_list_header').click(function(){
			$('#user_list').toggleClass('collapsed')
		})
		var user_list = ["Anthony Del Pozo", "Diana Ayala", "Ashly Guerrero"];
		var chats = [];
		(function loadUserList(){
			div_user_list = $('#user_list_content ul')
			user_list.forEach(function (user, i) {
                        test = "<li class = 'user_item' onClick = 'openChatBox("
				div_user_list.append( test + i + ")'>" + user + "<span>" + i + "</span> </li>")
			})
		})()
		$('.user_item').click(function(){
		})
		function openChatBox(i){
			let chat = $("#c" + i)
			if ( chat.length ){
				chat.chatbox("option", "boxManager").toggleBox();
				// $( "div[id^='c']" ).chatbox({hidden: true})
				// chat.chatbox({hidden: false})
			}else{
				var div = $("<div id = '" + i + "'> </div>")
				$(div).chatbox({id: "ME",
												title : user_list[i],
												user:{key : "value"},
												offset: 230 + 240*$('.ui-chatbox').length,
												width: 230,
												messageSent : function(id, user, msg) {
														// $("#log").append(id + " said: " + msg + "<br/>");
														div.chatbox("option", "boxManager").addMsg(id, msg);
												}});
			}
		}
	</script>

</body>
</html>
