.logout{
	margin: 5px;
  	float: right;
}

.tabs {
	width:60%;
	display:inline-block;
}

ul{
	padding: 0;
}

.tab-content {
	padding:15px;
	border-radius:3px;
	box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
	background:#fff;
}

#user_list{
	width: 230px;
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
	position: fixed;
	right: 0px;
	bottom: 0px;
}

.collapsed #user_list_content{
	display: none;
}

#user_list_header{
	background: #f6a828 url(images/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x;
	color: white !important;
	padding: 10px;
	font-weight: bold;
	border-radius: 14px 14px 0px 0px ;

}

#user_list_header a span{
	background-image: url(images/ui-icons_ffffff_256x240.png);
	color:white !important;
}


#user_list_content{
	padding: 10px;
	background: white;
}

#user_list_content li{
	border-bottom: 1px solid #CCCCCC;
	padding: 8px 4px;
}

#user_list_content span{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: red;
	color: white;
	display: inline-block;
	text-align: center;
	float: right;
}

label{
	margin: 1%;
}

input{
	margin: 0.5% !important;
}
