.logout{
	margin: 5px;
  	float: right;
}

.tabs {
	width:60%;
	display:inline-block;
}

ul{
	padding: 0;
}

.tab-links{
	margin-bottom: 0;
	margin-left: 0;
}
.tab-links:after {
	display:block;
	clear:both;
	content:'';
}
.tab-links li {
	margin:0px 5px;
	float:left;
	list-style:none;
}

.tab-links a {
	padding:9px 15px;
	display:inline-block;
	border-radius:3px 3px 0px 0px;
	background:#e34a3e;
	font-size:16px
	font-weight:600;
	color:#444;
	transition:all linear 0.15s;
}

.tab-links a:hover {
	background:#f67f76;
	text-decoration:none;
}

li.active a, li.active a:hover {
	background:#fff;
	color:#4c4c4c;
}

.tab-content {
	padding:15px;
	border-radius:3px;
	box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
	background:#fff;
}
.tab {
	display:none;
}

.tab.active {
	display:block;
}

* {
	  box-sizing: border-box;
}

.input {
	  width: 30%;
	  margin: 1%;
}

.input2 {
	  width: 18%;
	  margin: 1%;
}

.cabecera{
	  margin: 2%;
}

.detalles{
	  height: 100%;
	  margin: 1%;
}

.img{
	  float: left;
	  width: 120px;
	  margin: 1%;
}

#myTable, #detalle {
	  border-collapse: collapse;
	  width: 100%;
	  border: 1px solid #ddd;
	  font-size: 18px;
}

#myTable th, #myTable td, #detalle th, #detalle td {
	  text-align: left;
	  padding: 12px;
}

#myTable tr, #detalle tr  {
	  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover, #detalle tr.header, #detalle tr:hover  {
	  background-color: #f1f1f1;
}

#user_list{
	width: 230px;
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
	position: fixed;
	right: 0px;
	bottom: 0px;
}

.collapsed #user_list_content{
	display: none;
}

#user_list_header{
	background: #f6a828 url(images/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x;
	color: white !important;
	padding: 10px;
	font-weight: bold;
	border-radius: 14px 14px 0px 0px ;

}

#user_list_header a span{
	background-image: url(images/ui-icons_ffffff_256x240.png);
	color:white !important;
}


#user_list_content{
	padding: 10px;
	background: white;
}

#user_list_content li{
	border-bottom: 1px solid #CCCCCC;
	padding: 8px 4px;
}

#user_list_content span{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: red;
	color: white;
	display: inline-block;
	text-align: center;
	float: right;
}

button{
	width: 70px;
	height: 20px;
	background-color: #ff9e3e;
	border: none;
	color: #ffffff !important;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 13px !important;
	border-radius: 5px;
}

#add{
	height: 30px !important;
	width: 30px !important;
	float: right;
	margin: 2%;
}

.edit{
	height: 20px !important;
	width: 20px !important;
}

.delete{
	height: 20px !important;
	width: 20px !important;
}

.row{
	margin-left: 1% !important;
	width: 90% !important;
}

.cancel{
	margin-left: 7px !important;
	height: 20px !important;
	width: 20px !important;
}

.save{
	height: 20px !important;
	width: 20px !important;
}

input{
	margin: 1.5% !important;
}

input[type=submit]{
	background: #f6a828;
	color: white;
	border-radius: 10%;
}

.error_profesor{
	color: red;
	margin: 1.5%;
}

.success{
	color: green;
	margin: 1.5%;
}
