<!DOCTYPE html>
<html lang="en">
<head>
  <title>Asesorías UL - Historial</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/0/0e/ULIMA_logo.png">
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}" type="text/css" media="screen" />
  <link type="text/css" href="{{ url_for('static', filename='css/jquery.ui.chatbox.css') }}" rel="stylesheet" />
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.4.2.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.ui.chatbox.js') }}"></script>
</head>
<body>
	
<img class="logout" onclick="cerrarSesion()" src="http://www.clker.com/cliparts/Z/l/p/o/z/T/power-button-outline-md.png" height="30" width="30">
	
<div class="container">

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" onclick="displayAsesorias()">Asesorías</a></li>
    <li><a data-toggle="tab" onclick="displayHistorial()">Historial</a></li>
    <li><a data-toggle="tab" onclick="displayMisCitas()">Mis Citas</a></li>
    <li><a data-toggle="tab" onclick="displaySeminarios()">Seminarios</a></li>
  </ul>

  <div class="tab-content">
    <div id="asesorias" class="tab-pane fade in active">
      <div class="cabecera">
        <div>
          <div class="img">
            <img src="https://www.shareicon.net/download/2017/01/06/868320_people_512x512.png" height="100" width="100">
          </div>
          <div class="detalles">
            <label><strong>{{profesor.nombre}}</strong></label><br/>
            <label>Cursos:</label>
            {% for seccion in profesor.seccions %}
              <p>{{seccion.curso.nombre}}</p>
            {% endfor %}
          </div>
        </div>
      </div>
      <table id="detalle">
        <tr class="header">
          <th style="width:25%;">Fecha</th>
          <th style="width:25%;">Hora</th>
          <th style="width:25%;">Lugar</th>
          <th style="width:25%;">Disponibilidad</th>
        </tr>
        {% for asesoria in profesor.asesorias %}
	      {% if fecha > asesoria.fecha %}
		  <tr onclick="">
		    <td>{{asesoria.fecha}}</td>
		    <td>{{asesoria.hora}}</td>
		    <td>{{asesoria.lugar}}</td>
		    <td>{{asesoria.disponibilidad}}</td>
		  </tr>
	      {% endif %}
        {% endfor %}
      </table>
    </div>
    <div id="historial" class="tab-pane fade">
    </div>
    <div id="miscitas" class="tab-pane fade">
    </div>
    <div id="seminarios" class="tab-pane fade">
    </div>
  </div>
</div>

<div id="user_list">
			<div id="user_list_header">
				<span>Lista de Usuarios</span>
				<a href="#" class="ui-corner-all ui-chatbox-icon" role="button"><span class="ui-icon ui-icon-minusthick">minimize</span></a></div>
			<div id="user_list_content">
				<ul>
				</ul>
			</div>
</div>

<script type="text/javascript">
		$('#user_list_header').click(function(){
			$('#user_list').toggleClass('collapsed')
		})
		var user_list = ["Anthony Del Pozo", "Diana Ayala", "Ashly Guerrero"];
		var chats = [];
		(function loadUserList(){
			div_user_list = $('#user_list_content ul')
			user_list.forEach(function (user, i) {
				div_user_list.append(<li class="user_item" onClick="openChatBox(${i})"> ${user} <span>${i}</span></li>)
			})
		})()
		$('.user_item').click(function(){
		})
		function openChatBox(i){
			let chat = $("#c" + i)
			if ( chat.length ){
				chat.chatbox("option", "boxManager").toggleBox();
				// $( "div[id^='c']" ).chatbox({hidden: true})
				// chat.chatbox({hidden: false})
			}else{
				var div = $(<div id="c${i}"> </div>)
				$(div).chatbox({id: "ME",
												title : user_list[i],
												user:{key : "value"},
												offset: 230 + 240*$('.ui-chatbox').length,
												width: 230,
												messageSent : function(id, user, msg) {
														// $("#log").append(id + " said: " + msg + "<br/>");
														div.chatbox("option", "boxManager").addMsg(id, msg);
												}});
			}
		}
	</script>

</body>
</html>
